.income{
       height: 100vh;
       margin-top: 20px;
       width: 50%;
}
.line{
       width: 100%;
       height: 1px;
       color: blue;
       background-color: blue;
       margin-top: -10px;
}
.lines2{
       width: 100%;
       height: 1px;
       color: gray;
       background-color: gray;
       margin-top: -10px;
}

.text3{
       margin-top: -15px;
       font-size: 0.67rem;
       color: gray;
       font-weight: bolder;
}

.text4{
       font-size: 0.72rem;
}

.text5{
       font-size: 0.72rem;
       margin-top: -12px;
}
.rincome{
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
}
.r1income{
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
}
.chart{
       width: 470px;
       height: 4000;
}
.r2income{
       display: flex;
}
.r3income{
       /* background-color: bisque; */
       margin-left: 100px;
       display: flex;
       
}
@media only screen and (max-width: 768px){
       .income{
              width: 100%;
              /* margin-top: -50px; */
       }
       .rincome{
              width: 70%;
              margin-left: 0px;
              margin-top: 10px;
              flex-direction: column;
       }
       .r1income{
              width: 100%;
              justify-content: space-between;
       }
       .chart{
              width: 340px;
              margin-left: -30px;
       }
       .r2income{
              flex-direction: column;
       }
       .r3income{
              margin-left: -20px;
              width: 170%;
              justify-content: space-evenly;
              
       }
}


