.logo{
       height: 30px;
       width: 30px;
}
.nav{
       padding: 10px;
       min-height: 100vh;
}
.home{
       background-color: blue;
       border-radius: 5px;
       color: white;
       font-size: 23px;
       padding: 5px;
}
.rnav{
       display: none;
}
.pnav{
       border-radius: 10px;
}
.bell{
       display: none;
}
@media only screen and (max-width: 768px) {
       .nav{
              display: none;
       }
       .rnav{
              display: inline;
       }
       .bell{
              display: inline;
       }
   }
   